@import "tailwindcss";

:root{
  --background:#090909;
  --card:#111111;
  --border:#222222;
  --primary:#5DFF52;
  --secondary:#A855F7;
  --text:#ffffff;
}

body{
  background:var(--background);
  color:white;
  font-family:Inter,sans-serif;
}
body{

background:#090909;

color:white;

}

::selection{

background:#A3FF12;

color:black;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:#222;

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

background:#A3FF12;

}